*{
    margin: 0;
    padding: 0;
}
.mapContainer{
    width: 700px;
    margin: 10px auto;
    font-size: 0;
}
.cell{
    width: 6px;
    height: 6px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    background: grey;
    display: inline-block;
}
.cell.block{
    background: black;
}
.btnwrapper{
    width: 100px;
    margin:0 auto;
    top: 400px;
    left: 20px;
}